.btn {
    --btn-color: rgb(39, 29, 26);
    --btn-bg: rgb(107, 220, 15);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 14px 22px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Press Start 2P", sans-serif;
    border: 2px solid var(--btn-color);
    transition: 100ms ease;
    box-shadow: 5px 5px 0 0 var(--btn-color);
}

.btn--secondary {
    --btn-color: #000000;
    --btn-bg: #ec4a4a;
}

.btn--third {
    --btn-color: #000000;
    --btn-bg: #758cf4;
}

.btn svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.btn:hover {
    box-shadow: 2px 2px 0 0 var(--btn-color);
}

.btn:active {
    transition: 50ms ease;
    box-shadow: 0 0 0 0 var(--btn-color);
}

.btn:focus-visible {
    outline: 0;
    --btn-color: #002cc8;
}

.btn:focus-visible::after {
    position: absolute;
    left: 50%;
    top: calc(100% + 12px);
    transform: translateX(-50%);
    content: "\21E7";
    animation: float .5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateX(-50%) translatey(0px);
    }

    50% {
        transform: translateX(-50%) translatey(-6px);
    }

    100% {
        transform: translateX(-50%) translatey(0px);
    }
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    place-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.animation_div {
    animation-fill-mode: forwards;
    display: block;
}

@keyframes move-left {
    /* from {
    } */
    to {
        transform: translateX(-175px);
    }
    
}

@keyframes move-left-right {
    from {
        transform: translateX(-175px);
    }
    to {
        transform: translateX(+175px);
    }
}

@keyframes move-right {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(+175px);
    }
}

@keyframes move-right-middle {
    from {
        transform: translateX(+175px);
    }
    to {
        transform: translateX(0px);
    }
}